# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CraftMine.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unreal projects\CraftMine\.idea\.idea.CraftMine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
